/* common shared style */
body{
  font-family: 'Crimson Text', serif;
  font-family: 'Open Sans', sans-serif;
}
.text-primary{
  color: #FD6E0A;
}
.btn-primary{
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
}
/* nav related style */
.nav-titile{
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
/* header related style */
.header{
  background-color: #FFF8F3;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.profile{
  width: 584px;
  height: 676px;
}